@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-color: #000;
  }
}
[class="dark"] {
  --background: black;
  --foreground: white;
}
body {
  color: rgb(var(--foreground-rgb));
  margin: 24px;
  /* background-color: var(--background-color); */
  @apply bg-white dark:bg-gradient-to-r dark:from-[#111011] dark:via-black dark:to-[#111011];
}

html,
body {
  scroll-behavior: smooth;
}

body,
* {
  cursor: none;
}

/* .flare {
  position: fixed;
  z-index: 15;

  top: 0;
  left: 0;
  border: 2px solid #ffffff2b;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1px);
  background-color: white;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media screen and (max-width: 768px) {
  .flare {
    display: none;
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}

.flare.pointer {
  display: none;
  z-index: 10;
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
}

main {
  @apply w-full h-full flex flex-col;
}
